.brand-img img{
    height: 50px;
}

.dropdown-btn{
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: aliceblue;
}

.dropdown-btn img{
    width: 50px;
    padding-right: 20px;
}

.dropdown{
    margin-right: 50px;
}